body {
  background-color: hsl(233, 47%, 7%);
  color: white;
  font-size: 15px;
}

.card {
  background-color: hsl(244, 38%, 16%);
}

h5,
small {
  color: hsl(0, 0%, 100%);
}

small {
  justify-content: space-between;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

strong {
  color: hsl(277, 64%, 61%);
}

.card-header {
  color: hsla(0, 0%, 100%, 0.6);
  display: flex;
  justify-content: space-between;
}

.text-muted {
  display: flex;
  justify-content: space-between;
}
