body {
  background-color: hsl(233, 47%, 7%);
  color: white;
  font-size: 15px;
}

.card {
  background-color: hsl(244, 38%, 16%);
  margin: 100px auto;
}

h5 {
  color: hsl(0, 0%, 100%);
  margin: 0 auto 0 0;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 9px;
}

strong {
  color: hsl(277, 64%, 61%);
}

.feature {
  display: inline-block;
  margin: 0 auto 0 0;
  font-size: 15px;
  font-weight: bold;
}

.item {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 9px;
  margin-top: 0 auto 0 0;
}

.blend1 {
  background-blend-mode: screen;
  background-image: url("images/image-header-desktop.jpg");
  background-color: hsl(277, 64%, 61%);
  background-size: cover;
}

@media (max-width: 375px) {
  .blend1 {
    background-blend-mode: screen;
    background-image: linear-gradient(hsl(hsl(277, 64%, 61%))),
      url("images/image-header-mobile.jpg");
    height: 250px;
    width: auto;
  }

  .card {
    width: 18rem;
  }

  .card-img {
    display: flex;
    flex-direction: column-reverse;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}
